
body{

    background-color: #85D4B7;
}
.superior{
    background-color: #85D4B7;
}

.sociales {
    padding-block-end: 20px;
    padding-top: 0;
    box-sizing: border-box;
    background-color: #6DCCAA;
    width: 100%;
    height: 100px;
    color: #FFF;
    font-size: 18px;
  }
  
  /* address, #slogan, #social {
    float: left;
    width: 33%;
    font-weight: 800;
  } */
  
  /* address {
    font-style: normal;
    font-weight: 800;
  }
  
  #slogan p {
    text-align: center;
    color: #FFF;
  } */
  
  #social {
    /* padding-left: 100px; */
    box-sizing: border-box;
    
  }
  
  #social ul {
    list-style-type: none;
  }
  
  /* #social ul li {
    float: left;
  } */
  
  #social ul li a {
    display: grid;
    width: 40px;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    color: #6DCCAA;
    border: 2px solid #FFF;
    background-color: #FFF;
    border-radius: 100%;
    margin-right: 20px;
    float: left;
    
  }
  
  #social ul li a:hover {
    background-color: #333;
    border-color: #333;
    color: #FFF;
  }
nav {
    /* width: 100%; */
    /* height: 100%; */
    float: left;
    

    
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    /* float: left; */
    background-color: #6DCCAA;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 1px;
    padding-right: 1px; 
    margin-left: 1px;
    margin-top: 1px; 
    margin-right: 1px;
    margin-bottom: 2px;
    border: #85D4B7;
   
    
    
    
  }
  
  nav ul li a {
    font-size: 18px;
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
    color: #FFF;
    text-decoration: none;
    margin-left:    0px;
    font-weight: 500;
    
    
    
  }
    

li a:hover{
    color: #000000;
    text-decoration: #000000;
}

.texto-blanco{
    color: #ffffff;
}
.texto-centrado{
    text-align: center;
}

#logo {
    /* width: 100%; */
    /* float: left; */
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 0%;
    padding-right: 0%;
  }

#top {
    
    /* padding-top: 10px; */
    /* padding-left: 0%; */
    /* padding-right: 100%; */
    /* box-sizing: border-box; */
    background-color: #85D4B7;
    /* width: 100%; */
    
    
}
#carouselExampleIndicators{

    background-color: #85D4B7;
    padding-top: 5px;
    

}

h1, h2, h3, h4 {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase
  }
  
  
  .right {
    width: 100%;
    float: right;
    text-align: right;
    padding-right: 0px;
    /* box-sizing: border-box; */
  }
  .left {
    width: 100%;
    float: left;
    text-align: left;
    padding-right: 0px;
    /* box-sizing: border-box; */
  }
  
  .subtitulo {
    /* float: right; */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #777;
    margin: 0;
  }
  
  hr {
    display: inline-block;
    width: 50px;
    height: 2px;
    margin: 20px 0;
    background: #333;
  }
  
  p {
    font-size: 14px;
    line-height: 1.9;
    margin: 0 0 30px 0;
    color: #404040;
  }
  
  button {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: inherit;
    background: transparent;
    border: 2px solid #333;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #FFCF3F;
    border-color: #FFCF3F;
    color: #FFF;

  }
    
  
    
  
/*     
  .galeria{
    margin-top: 40px ;
   
  }
  .galeria .imagen{

    margin-bottom: 50%;
  } */
/* 
  .galeria .imagen  img {
      width: 100%;
      vertical-align:top; 

  } */

* {
    box-sizing: border-box;
}


/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 33%;
    padding: 10px;
    /* padding-bottom: 20px; */
}

.column img {
    margin-top: 12px;
    

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.inferior{
    color:#000000;
    background-color: rgb(214, 214, 214);
    padding-top: 2px;
    padding-bottom: 10px;
}

